@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #E2E2E2;
  min-height: 100vh;
}

.cusShadow {
  box-shadow: 0 4px 4px 0 #2C2D2E;
}